*{
  margin: 0px;
  padding: 0px;
}
body{
  background: black;
 color: white;

    
  }
button{
  background: black;
  color:white;
  border-color: white;
  width:100px;
  height:70px ;

}

div#res{
  width:500px ;
  height: 500px;
  background:white ;
}
.cajita{
  background: grey;
  display: inline-block;
  margin:5px;
}
